{% extends 'layout.html' %}
{% block body%}
<br>
<div  style="display: flex;flex-direction: row;">
  <div class="btn-group">
  <button type="button" class="btn btn-secondary">Run</button>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu scrollable-menu">
    <ul>
      {% for file in recipes %}
        <li><a href='/runrecipe/{{file}}'>{{file}}</a></li>
      {% endfor %}
    </ul>
    
  </div>
</div>
      
  </div>

  
  <div class="table thead-dark table-hover table-bordered">
    {{format}}
  </div>

</div>
{% endblock %}

