{% extends "layout.html" %}

{% block recipe_input %}

    <div class="column is-one-third">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{recipe}}</a></li>

        </ul>
    </nav>
    <article class="message is-info">
        <div class="message-header">
            <p>{{recipe}}</p>
        </div>
        <div class="message-body">
            {{docstring}}
        </div>
    </article>
    <form id="recipe_input" recipe="{{recipe}}" method="GET">
        {% for key, value in recipe_contexts.items() %}
            {% if "hidden" not in value or value.hidden == False %}
                <div class="field">
                    <label class="label">{{key}}</label>
                    <p class="help">{{value.help}}</p>
                    <div id="recipe_contexts" class="control">
                        {% if value.type == "dropdown" %}
                            <div class="select {{ value.action[0] }}">
                                <select {{ value.action[1] }} size={{ value.choices|length }}>
                                {% for item in value.choices %}
                                    <option {{ item[1] }}>{{ item[0] }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        {% elif value.type == "datetime" %}
                            <input class="input" type="text" name={{key}} id={{ 'datepicker_' + key}}
                                {% if ("default" in value) and (value.default != None) %}
                                    value={{value.default}}
                                {% endif %}
                            />
                        {% else %}
                        <input class="input" id={{key}} name={{key}} required
                               placeholder="Text input" type={{ value.type }}

                            {% if ("default" in value) and (value.default != None) %}
                               value={{value.default}}
                            {% endif %}
                        />
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div align="right">
            <button id="submit_button" class="button is-link" type="submit">Run</button>
        </div>
    </form>


</div>
{% endblock recipe_input %}

{% block recipe_result %}
    <div class="column {{show}}">
        <br><br>
        <article class="message is-success">
            <div class="message-header">
                <p>Result</p>
            </div>
            <table id="recipe_result" class="table is-bordered is-striped is-hoverable is-fullwidth"> </table>
            <p id="error_msg" class="message is-danger" ></p>
        </article>
    </div>
{% endblock recipe_result %}

{% block specific_script %}
    {% set url = 'recipe.js?' + (range(1, 1000) | random | string) %}
    <script src="{{url_for('static', filename= url) | replace('%3F', '?')}}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

{% endblock specific_script %}
